@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins';
    padding: 30px;
    background-color: #f5f5f5;
}

section {
    margin-bottom: 50px;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.nav {
    
}

.hover-demo {
    color: navy;
    text-decoration: none;
    padding: 8px;
}

.hover-demo a:hover {
    background-color: navy;
    color: white
}

.active-demo button {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
}

.active-demo button:active {
    transform: scale(0.55);
    background-color: #005f75;
}

.focus-demo input:focus {
    border: 2px solid green;
    outline: none;
    background-color: #eaffea;
}